doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title РемСтройТрест

    link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href="bower_components/fancybox/dist/jquery.fancybox.min.css")
    link(rel='stylesheet', href="bower_components/magnific-popup/dist/magnific-popup.css")
    link(rel='stylesheet', href="bower_components/slick-carousel/slick/slick.css")
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
  
    include ../common/_header
    
    main.jsHeightHF
      block content
      
    include ../common/_footer

    include ../modals/_all_modals

    block script

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/fancybox/dist/jquery.fancybox.min.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js')
    script(src='/bower_components/slick-carousel/slick/slick.min.js')
    script(src='/bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild