.b_breadcrumbs {

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #91B0BB;

    @media(max-width: $screen-xs-max) {
      font-size: 14px;
    }

    li {
      position: relative;

      &:not(:last-of-type) {
        margin: 0 28px 10px 0;

        @media(max-width: $screen-xs-max) {
          margin: 0 19px 10px 0;
        }

        &:after {
          content: '';
          position: absolute;
          left: 100%;
          top: 10px;
          bottom: 0;
          color: #91B0BB;
          font-size: 0;
          margin: 0 0 0 12px;
          width: 4px;
          height: 8px;
          background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.334635 7.33333L3.66797 4L0.334635 0.666662L0.334635 7.33333Z' fill='%23163A46'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;

          @media(max-width: $screen-xs-max) {
            top: 5px;
            margin: 0 0 0 8px;
          }
        }
      }
    }

    a {
      color: #163A46;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
