.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 11px 10px 12px;
  transition: all .1s linear;
  font-size: 13px;
  font-weight: 600;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 165px;

  &:hover,
  &:focus {
    box-shadow: none;
  }

  &:disabled {
    opacity: .5;
    cursor: not-allowed;

    &:hover {
      opacity: .5;
    }
  }
}

.btn_template {
  color: #fff;
  border-color: #56CCF2;
  background-color: #56CCF2;

  &:focus {
    color: #fff;
  }

  &:active {
    color: #fff;
  }

  &:hover {
    background-color: #163A46;
    border-color: #163A46;
    color: #fff;
  }
}

.btn_white {
  color: #163A46;
  border-color: #fff;
  background-color: #fff;

  &:focus {
    color: #163A46;
  }

  &:active {
    color: #163A46;
  }

  &:hover {
    background-color: #163A46;
    border-color: #163A46;
    color: #fff;
  }
}
