$text-color: #163A46;

* {
  outline: 0 !important;
}

body {
  font-family: 'Gilroy';
  font-size: 14px;
  color: $text-color;
  min-width: 320px;
  background-color: #fff;
  line-height: 1.4;

  &.menuopen{
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5{
  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

h1, h2 {
  font-size: 36px;

  @media(max-width: $screen-md-max) {
    font-size: 32px;
  }

  @media(max-width: $screen-sm-max) {
    font-size: 28px;
  }

  @media(max-width: $screen-xs-max) {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
}

p {
  margin: 0;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

@media (max-width: 991px) {
  input, textarea, select, select:focus {
    font-size: 16px;
  }
}