.b_faq {

  .faq_row {
    transition: all .2s linear;
    background-color: #fff;

    &:not(:last-of-type) {
      border-bottom: 1px solid #ECF1F4;
    }

    &.item_active {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      border: transparent;
      z-index: 1;
      position: relative;
    }
  }

  .faq_title {
    font-size: 16px;
    padding: 25px 30px 25px 53px;
    cursor: pointer;
    position: relative;

    @media(max-width: $screen-xs-max) {
      padding: 20px 5px 20px 53px;
    }

    @media(max-width: $screen-xs-max) {
      padding: 20px 5px 20px 23px;
      font-size: 14px;
    }

    &::before {
      transition: all .2s linear;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 24px;
      left: 15px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.9 0.5L0.5 1.9L5.1 6.5L0.5 11.1L1.9 12.5L7.9 6.5L1.9 0.5Z' fill='%2356CCF2'/%3E%3C/svg%3E");

      @media(max-width: $screen-xs-max) {
        top: 17px;
        left: 0;
      }
    }

    &.-active {
      font-weight: bold;

      &::before {
        transform: rotate(90deg);
      }
    }
  }

  .faq_content {
    display: none;

    .content {
      padding: 0 30px 20px 53px;
      color: #828282;

      @media(max-width: $screen-xs-max) {
        padding: 0 20px 20px;
      }

      a {
        color: #56CCF2;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
