@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy-Regular.woff') format('woff'),
      url('../fonts/Gilroy-Regular.ttf') format('truetype'),
      url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Medium.woff2') format('woff2'),
      url('../fonts/Gilroy-Medium.woff') format('woff'),
      url('../fonts/Gilroy-Medium.ttf') format('truetype'),
      url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.eot');
  src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
      url('../fonts/Gilroy-Semibold.woff') format('woff'),
      url('../fonts/Gilroy-Semibold.ttf') format('truetype'),
      url('../fonts/Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Bold.woff2') format('woff2'),
      url('../fonts/Gilroy-Bold.woff') format('woff'),
      url('../fonts/Gilroy-Bold.ttf') format('truetype'),
      url('../fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Extrabold.eot');
  src: url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
      url('../fonts/Gilroy-Extrabold.woff') format('woff'),
      url('../fonts/Gilroy-Extrabold.ttf') format('truetype'),
      url('../fonts/Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraboldItalic.eot');
  src: url('../fonts/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gilroy-ExtraboldItalic.woff2') format('woff2'),
      url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff'),
      url('../fonts/Gilroy-ExtraboldItalic.ttf') format('truetype'),
      url('../fonts/Gilroy-ExtraboldItalic.svg#Gilroy-ExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

