@media(max-width: $screen-md-max) {}

@media(max-width: $screen-sm-max) {}

@media(max-width: $screen-xs-max) {}


main {}

.container {
  @media (min-width: 1200px) {
    width: 100%;
    max-width: 1410px;
  }

  @media(max-width: $screen-xs-max) {
    padding: 0 20px;
  }
}

.slick-dots {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;

  li{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #56CCF2;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;

    &.slick-active{
      background-color: #56CCF2;
    }
  }

  button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form_control {
  color: #163A46;
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;

  @include placeholderGray();
}

textarea.form_control {
  display: block;
  resize: none;
}

.bg_gray {
  background-color: #F7F7F7;
}

.bg_image {
  background-repeat: no-repeat;
  background-position: center;

  &.cover {
    background-size: cover;
  }
}

.white_block {
  transition: all .2s linear;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
}

.section {
  padding: 25px 0;
}

.section50 {
  padding: 50px 0;

  @media(max-width: $screen-xs-max) {
    padding: 20px 0;
  }
}

.page_title{

}

.section_title {
  font-size: 36px;
  margin: 0 0 30px;

  @media(max-width: $screen-md-max) {
    font-size: 32px;
  }

  @media(max-width: $screen-sm-max) {
    font-size: 28px;
    margin: 0 0 20px;
  }

  @media(max-width: $screen-xs-max) {
    font-size: 24px;
  }

  .title {
    position: relative;
    padding: 0 0 0 44px;
    font-weight: 400;

    @media(max-width: $screen-xs-max) {
      line-height: 1.2;
    }

    &::before {
      content: '';
      position: absolute;
      left: 4px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='4' viewBox='0 0 16 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0C0.9 0 0 0.9 0 2C0 3.1 0.9 4 2 4C3.1 4 4 3.1 4 2C4 0.9 3.1 0 2 0Z' fill='%2391B0BB'/%3E%3Cpath d='M14 0C12.9 0 12 0.9 12 2C12 3.1 12.9 4 14 4C15.1 4 16 3.1 16 2C16 0.9 15.1 0 14 0Z' fill='%2391B0BB'/%3E%3Cpath d='M6 2C6 0.9 6.9 0 8 0C9.1 0 10 0.9 10 2C10 3.1 9.1 4 8 4C6.9 4 6 3.1 6 2Z' fill='%2391B0BB'/%3E%3C/svg%3E");
    }
  }

  &.m0{
    margin: 0;
  }
}

.custom_links_menu {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #7D838B;
    font-size: 18px;

    li {
      padding: 0 0 0 40px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 12L7 6L1.33334 0L2.10636e-06 1.41177L4.33333 6L0 10.5882L1.33333 12Z' fill='%2356CCF2'/%3E%3C/svg%3E");
        left: 0;
        top: 1px;
      }

      +li {
        margin: 18px 0 0;
      }
    }

    a {
      color: #7D838B;
      transition: all .2s linear;

      &:hover {
        color: #000;
      }
    }
  }
}

.personal_data {
  font-size: 12px;

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}





.partners_list {
  @media(max-width: $screen-xs-max) {
    padding: 0 5px;
  }

  .partner_item {
    position: relative;
    height: 46px;
    margin: 50px 0 0;

    @media(max-width: $screen-xs-max) {
      height: 35px;
      margin: 20px 0 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: calc(100% - 20px);
      max-height: 100%;
      opacity: .6;

      @media(max-width: $screen-xs-max) {
        max-height: calc(100% - 10px);
        max-width: calc(100% - 30px);
      }
    }
  }
}

.list_decor{
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 34px;

      &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 10L5.5 5L0.500001 -4.37114e-07L0.5 10Z' fill='%2391B0BB'/%3E%3C/svg%3E");
        left: 0;
        top: 0;
      }

      +li {
        margin: 10px 0 0;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}