.b_licenses_page {
  padding-bottom: 0;

  .single_content{
    margin: 0 0 15px;
  }

  .certificates_list {
    .list_wrapper {
      margin: 0 -15px;
    }

    .certificate_item {
      width: 16.66666667%;
      padding: 15px 15px;

      @media(max-width: $screen-md-max) {
        width: 25%;
      }
    }
  }
}
