.b_m_about {
  padding-bottom: 100px;

  .our_advantages {
    overflow: hidden;

    .image_wrapper {
      width: calc(100% - 197px);

      @media(max-width: $screen-xs-max) {
        width: 100%;
      }

      .image{
        width: 100%;
        height: 100%;

        @media(max-width: $screen-xs-max) {
          height: auto;
          padding-top: 62%;
        }
      }
    }
  }

  .advantages_list {
    width: 197px;
    font-size: 18px;

    @media(max-width: $screen-xs-max) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    @media(max-width: 600px) {
      font-size: 10px;
    }

    .number_wrap {
      color: #56CCF2;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.15;

      @media(max-width: 600px) {
        font-size: 14px;
      }
    }

    .number {
      font-size: 48px;

      @media(max-width: 1300px) {
        font-size: 40px;
      }

      @media(max-width: 600px) {
        font-size: 24px;
      }
    }
  }

  .advantage_row {
    padding: 20px 40px;

    @media(max-width: 1400px) {
      padding: 20px 20px;
    }

    @media(max-width: 1300px) {
      padding: 15px 20px;
    }

    @media(max-width: $screen-xs-max) {
      width: 33.33%;
    }

    @media(max-width: 600px) {
      padding: 15px 15px;
    }

    +.advantage_row {
      border-top: 1px solid #EDEDED;

      @media(max-width: $screen-xs-max) {
        border-top: none;
        border-left: 1px solid #EDEDED;
      }
    }
  }

  .content_wrapper {

    .content {
      margin: 0 0 30px;
    }
  }

  .media_wrapper{
    @media(max-width: $screen-md-max) {
      margin: 30px 0 0;
    }
  }
}
