.b_m_certificates {

  .list_wrapper{
    margin: 0 -10px;
  }

  .slick-track {
    margin: 0;
  }

  .certificate_item {
    padding: 0 10px;
  }

  .certificates_list{
    @media(max-width: $screen-xs-max) {
      margin: 20px 0 0;
    }
  }
}
