.b_m_our_works {
  overflow: hidden;

  @media(max-width: $screen-xs-max) {
    overflow: unset;
  }

  .section_title {
    margin: 0 0 10px;
  }

  .tabs_head_wrapper {
    align-items: flex-end;

    .section_title {
      width: 355px;

      @media(max-width: $screen-md-max) {
        width: 100%;
        margin: 0 0 20px;
      }
    }

    .tabs_list_wrapper {
      width: calc(100% - 355px);
      border-bottom: 2px solid #56CCF2;

      @media(max-width: $screen-md-max) {
        width: 100%;
      }
    }
  }

  .tabs_list_wrapper{
    position: relative;
    z-index: 1;
  }

  .button_list {
    display: none;

    @media(max-width: $screen-xs-max) {
      display: block;
    }

    .button_list_inner {
      background: #56CCF2;
      border-radius: 4px 4px 0px 0px;
      color: #fff;
      padding: 10px 20px 10px 44px;
      cursor: pointer;
    }
  }

  .tabs_list{
    @media(max-width: $screen-xs-max) {
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #E3F0F4;
      display: none;
    }
  }

  .tabs_list_inner {
    justify-content: space-between;

    @media(max-width: $screen-xs-max) {
      display: block;
    }

    .tab_item {
      width: calc(20% - 4px);
      border-radius: 4px 4px 0px 0px;
      padding: 10px 20px 10px 40px;
      cursor: pointer;
      user-select: none;

      @media(max-width: $screen-md-max) {
        padding: 10px 10px 10px 30px;
      }

      @media(max-width: $screen-xs-max) {
        width: 100%;
      }

      &:hover {
        background-color: #E3F0F4;
      }

      &.-active {
        background-color: #56CCF2;
        color: #fff;

        .projects_number {
          color: #AEE6F8;
        }

        .title {
          &::before {
            color: #fff;
          }
        }
      }
    }

    .title {
      font-weight: 600;
      font-size: 14px;
      position: relative;

      @media(max-width: $screen-sm-max) {
        font-size: 12px;
      }

      &::before {
        position: absolute;
        content: '—';
        right: 100%;
        color: #56CCF2;
        margin: 0 10px 0 0;
      }
    }

    .projects_number {
      font-weight: 600;
      font-size: 12px;
      color: #91B0BB;
    }
  }

  .tabs_content {
    margin: 0 -30px;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 30px;

    @media(max-width: $screen-xs-max) {
      margin: 0 -20px;
      padding: 30px 20px;
    }
  }

  .our_works_slider{
    position: relative;
  }

  .slider_controls{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 440px;
    background: #F7F7F7;
    border-radius: 4px 0 0 0;
    padding: 5px 0 0;

    @media(max-width: $screen-sm-max) {
      width: 340px;
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .slide_count_wrapper{
    align-items: center;

    @media(max-width: $screen-xs-max) {
      width: 100%;
      justify-content: center;
    }

    .slick-arrow{
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;;
      border: none;
      background-color: transparent; 
    }

    .btn_prev{
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.53033 0.46967C6.82322 0.762563 6.82322 1.23744 6.53033 1.53033L2.06066 6L6.53033 10.4697C6.82322 10.7626 6.82322 11.2374 6.53033 11.5303C6.23744 11.8232 5.76256 11.8232 5.46967 11.5303L0.46967 6.53033C0.176777 6.23744 0.176777 5.76256 0.46967 5.46967L5.46967 0.46967C5.76256 0.176777 6.23744 0.176777 6.53033 0.46967Z' fill='%2356CCF2'/%3E%3C/svg%3E");
    }

    .btn_next{
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.469671 0.46967C0.762564 0.176777 1.23744 0.176777 1.53033 0.46967L6.53033 5.46967C6.67098 5.61032 6.75 5.80109 6.75 6C6.75 6.19891 6.67098 6.38968 6.53033 6.53033L1.53033 11.5303C1.23744 11.8232 0.762563 11.8232 0.46967 11.5303C0.176777 11.2374 0.176777 10.7626 0.46967 10.4697L4.93934 6L0.469671 1.53033C0.176778 1.23744 0.176778 0.762563 0.469671 0.46967Z' fill='%2356CCF2'/%3E%3C/svg%3E");
    }

    .count_label{
      padding: 0 30px 0 10px;
      font-size: 14px;
    }

    .slide_count{
      font-size: 14px;
      color: #91B0BB;
      margin-right: 10px;
      min-width: 30px;
      text-align: center;
    }
  }

  .tabs_content_inner {
    position: relative;
  }

  .slider_images {
    width: calc(100% - 440px);
    padding: 0 30px 0 0;

    @media(max-width: $screen-md-max) {
      padding: 0 15px 0 0;
    }

    @media(max-width: $screen-sm-max) {
      width: calc(100% - 340px);
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;
      margin: 0 0 20px;
      padding: 0;
    }
  }

  .images_galery {
    .bg_image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 4px;
    }

    .huge_image_wrap {
      width: calc(100% - 206px);
      padding: 0 30px 0 0;

      @media(max-width: $screen-md-max) {
        width: 100%;
        padding: 0;
      }
    }

    .huge_image {
      display: block;
      padding-top: 59.35%;
      position: relative;
    }

    .list_images {
      width: 206px;

      @media(max-width: $screen-md-max) {
        width: 100%;
      }
    }

    .list_images_inner {
      height: 100%;

      @media(max-width: $screen-md-max) {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 0 -5px;
      }
    }

    .small_image {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      @media(max-width: $screen-md-max) {
        height: auto;
      }

      .bg_image {
        @media(max-width: $screen-md-max) {
          padding-top: 59.35%;
          position: relative;
        }
      }
    }

    .image_row {
      height: calc(33.33% - 20px);

      @media(max-width: $screen-md-max) {
        height: auto;
        width: 33.33%;
        padding: 10px 5px 0;
      }

      +.image_row {
        margin: 30px 0 0;

        @media(max-width: $screen-md-max) {
          margin: 0;
        }
      }
    }
  }

  .slider_content {
    width: 440px;
    padding: 0 0 40px;

    @media(max-width: $screen-sm-max) {
      width: 340px;
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .project_title {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 30px;

    @media(max-width: $screen-md-max) {
      margin: 0 0 15px;
    }

    @media(max-width: $screen-xs-max) {
      font-size: 18px;
    }
  }
}
