.b_main_banner {
  background-color: #163A46;
  color: #fff;

  .banner_item {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(0deg, rgba(22, 58, 70, 0.8), rgba(22, 58, 70, 0.8));
    }
  }

  .lines_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;

    @media(max-width: $screen-xs-max) {
      display: none;
    }

    span{
      display: block;
      height: 100%;
      width: 20%;
      top: 0;
      bottom: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.1);

      &:last-of-type{
        border-right: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }

  .banner_content_wrapper {
    padding: 240px 30px 30px;
    min-height: 690px;
    position: relative;
    z-index: 1;

    @media(max-width: $screen-md-max) {
      min-height: 600px;
    }

    @media(max-width: $screen-sm-max) {
      padding: 100px 20px 50px;
      min-height: 410px;
    }

    @media(max-width: $screen-xs-max) {
      padding: 100px 0 20px;
      min-height: 410px;
    }
  }

  .banner_content {
    position: relative;
    z-index: 1;
  }

  .banner_title {
    font-size: 48px;
    margin: 0 0 25px;
    position: relative;

    @media(max-width: $screen-sm-max) {
      font-size: 34px;
    }

    @media(max-width: $screen-xs-max) {
      font-size: 24px;
      margin: 0 0 20px;
    }
    

    &::before{
      position: absolute;
      content: '';
      border: 3px solid #56CCF2;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      right: 100%;
      top: 26px;
      margin-right: 21px;

      @media(max-width: $screen-sm-max) {
        margin-right: 11px;
        top: 15px; 
      }

      @media(max-width: $screen-xs-max) {
        display: none;
      }
    }

    h1,
    h2 {
      font-size: 48px;

      @media(max-width: $screen-sm-max) {
        font-size: 34px;
      }

      @media(max-width: $screen-xs-max) {
        font-size: 24px;
      }
    }
  }

  .content {
    font-weight: 500;
    font-size: 18px;
    max-width: 590px;
    margin: 0 0 30px;

    @media(max-width: $screen-xs-max) {
      font-size: 14px;
    }
  }

  .banner_button {
    .btn {
      width: 100%;
      max-width: 270px;
      padding: 16px 10px 17px;

      &.btn_template {
        &:hover {
          background-color: #fff;
          border-color: #fff;
          color: #163A46;
        }
      }
    }
  }
}
