.b_map {
  .map {
    height: 780px;
    background-color: #F7F7F7;

    @media(max-width: $screen-md-max) {
      height: 600px;
    }

    @media(max-width: $screen-xs-max) {
      height: 760px;
    }
  }

  .contacts_block {
    position: relative;
    z-index: 2;
  }

  .contacts {
    position: absolute;
    left: 0;
    bottom: 170px;
    width: 325px;
    padding: 30px;

    @media(max-width: $screen-md-max) {
      bottom: 90px;
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;
      max-width: 280px;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 20px;
    }

    .btn {
      width: 100%;
    }
  }

  .contacts_list {
    padding: 12px 0 30px;

    @media(max-width: $screen-xs-max) {
      padding: 0 0 20px;
    }
  }

  .row_icon {
    width: 20px;

    .icon {
      width: 20px;
      height: 20px;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
      }
    }
  }

  .row_content {
    width: calc(100% - 20px);
    padding: 0 0 0 20px;
  }

  .list_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    +.list_row {
      margin: 15px 0 0;
    }

    a {
      color: #163A46;
      transition: all .2s linear;

      &:hover {
        color: #56CCF2;
      }
    }

    .title {
      font-weight: bold;
      font-size: 16px;
    }

    .sub_title {
      color: #91B0BB;
    }
  }
}
