.b_mega_menu {
  position: relative;
  z-index: 2;

  &.menu_absolute {
    .mega_menu_block {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
    }

    .mobile_mega_menu {
      padding: 0;
    }

    .mega_menu_button {
      z-index: 1;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
    }
  }

  .mega_menu_button {
    .item_wrapper {
      cursor: pointer;

      .item_title {
        cursor: pointer;
      }
    }
  }

  .mobile_mega_menu {
    display: none;
    position: relative;

    @media(max-width: $screen-sm-max) {
      display: block;
      padding: 20px 0 0;
    }

    .item_wrapper {
      width: 100%;
      min-height: 60px;
      background: #56CCF2;
      border-radius: 5px;
      color: #fff;
      padding: 10px 20px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: 50%;
        margin-top: -12px;
        right: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.989594 1.7019L7 7.71231L13.0104 1.7019L11.5962 0.28769L7 4.88388L2.40381 0.287689L0.989594 1.7019Z' fill='white'/%3E%3C/svg%3E");
      }

      .item_title {
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 20px 0 20px;
      }
    }
  }



  .mega_menu_section {
    position: relative;

    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

  .mega_menu_wrapper {
    position: relative;
  }

  .mega_menu_item {
    width: 16.66666667%;

    &:hover {
      .item_wrapper {
        background-color: #56CCF2;
        color: #fff;

        .icon_static {
          img {
            opacity: 0;
            visibility: hidden;
          }
        }

        .icon_hover {
          img {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .mega_menu_inner {
        display: block;
      }
    }
  }

  .item_wrapper {
    background-color: #163A46;
    color: #91B0BB;
    font-weight: 600;
    font-size: 12px;
    padding: 25px 20px;
    align-items: center;
    min-height: 100px;
    transition: all .2s linear;

    @media(max-width: $screen-md-max) {
      padding: 15px 10px;
    }

    .item_icon {
      width: 40px;
      height: 40px;
      position: relative;

      @media(max-width: $screen-md-max) {
        width: 30px;
        height: 30px;
      }

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
        transition: all .2s linear;
      }

      .icon_hover {
        img {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .item_title {
      width: calc(100% - 40px);
      padding: 0 10px 0 20px;
      cursor: default;
      text-transform: uppercase;

      @media(max-width: $screen-md-max) {
        width: calc(100% - 30px);
        padding: 0 5px 0 5px;
        text-transform: lowercase;
      }
    }
  }

  .mega_menu_inner {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #163A46;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    .menu_inner {
      padding: 50px 50px;
      position: relative;

      @media(max-width: $screen-md-max) {
        padding: 30px 30px;
      }
    }

    a {
      color: #163A46;
    }

    .sub_menu {
      font-size: 16px;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          padding-left: 34px;

          &::before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 10L5.5 5L0.500001 -4.37114e-07L0.5 10Z' fill='%2391B0BB'/%3E%3C/svg%3E");
            left: 0;
            top: 0;
          }

          +li {
            margin: 5px 0 0;
          }
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .menu_inner_title {
    font-size: 36px;
    margin: 0 0 30px;

    @media(max-width: $screen-md-max) {
      line-height: 1.1;
    }
  }

  .menu_columns {
    .column {
      max-width: 33.33%;
      padding-right: 60px;
    }
  }

  .category {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 15px;
  }

  .category_menu {
    font-weight: bold;
    font-size: 18px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        position: relative;

        +li {
          margin: 5px 0 0;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
