@mixin placeholder($color: black) {
  &::-webkit-input-placeholder { color: $color; opacity: 1 }
  &:-moz-placeholder           { color: $color; opacity: 1 }
  &::-moz-placeholder          { color: $color; opacity: 1 }
  &:-ms-input-placeholder      { color: $color; opacity: 1 }
}
@mixin placeholderGray($color: #91B0BB) {
  &::-webkit-input-placeholder { color: $color; opacity: 1 }
  &:-moz-placeholder           { color: $color; opacity: 1 }
  &::-moz-placeholder          { color: $color; opacity: 1 }
  &:-ms-input-placeholder      { color: $color; opacity: 1 }
}

@mixin clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;