.b_mobile_menu {
  position: fixed;
  z-index: 30;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  display: none;

  @media(min-width: $screen-md-min) {
    display: none !important;
  }

  .container {
    height: 100%;

    @media(max-width: $screen-xs-max) {
      padding: 0;
    }
  }

  .mobile_menu_head {
    position: relative;
    height: 62px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px 0 20px;
  }

  .head_title {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }

  .btn_close_menu {
    border: none;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L7.4 6L12 10.6L10.6 12L6 7.4L1.4 12L0 10.6L4.6 6L0 1.4Z' fill='%2391B0BB'/%3E%3C/svg%3E");
  }

  .mobile_menu_body {
    height: calc(100% - 62px);
    overflow: auto;
  }

  .icons_menu {
    background: #163A46;
    color: #fff;

    .item_row {
      &:not(:first-of-type) {
        border-top: 1px solid #234D5B;
      }
    }
  }

  .item_wrapper {
    align-items: center;
    color: #fff;
    padding: 15px 20px;
    transition: all .2s linear;

    &.-active {
      background: #56CCF2;
    }

    &.jsAccordBtn {
      position: relative;

      &:after {
        transition: all .2s linear;
        position: absolute;
        z-index: 1;
        content: '';
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2981 0.989594L0.287689 7L6.2981 13.0104L7.71231 11.5962L3.11612 7L7.71231 2.40381L6.2981 0.989594Z' fill='white'/%3E%3C/svg%3E");
        right: 10px;
        top: 50%;
        margin-top: -12px;
      }

      &.-active{
        &:after {
          transform: rotate(-90deg);
        }
      }
    }

    .item_icon {
      width: 30px;
      height: 30px;
      position: relative;

      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
        transition: all .2s linear;
      }
    }
  }

  .item_title {
    font-weight: 600;
    font-size: 12px;
    width: calc(100% - 30px);
    padding: 0 40px 0 20px;
  }

  .single_menu {
    ul {
      padding: 0;
      list-style: none;
      margin: 0;

      li {
        &:not(:first-of-type) {
          border-top: 1px solid #E7ECEE;
        }
      }

      a {
        display: block;
        font-size: 13px;
        color: #163A46;
        padding: 15px 20px;
      }
    }
  }

  .item_sub_menu {
    background: #E7ECEE;
    padding: 15px 15px;
    display: none;

    .sub_menu {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          position: relative;
          padding-left: 34px;

          &::before {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 10L5.5 5L0.500001 -4.37114e-07L0.5 10Z' fill='%2391B0BB'/%3E%3C/svg%3E");
            left: 0;
            top: 50%;
            margin-top: -12px;
          }

          +li {
            margin: 5px 0 0;
          }
        }

        a {
          display: block;
          padding: 5px 0;
          color: #163A46;
        }
      }
    }
  }
}
