.b_offer {
  background: #56CCF2;
  color: #fff;
  padding: 30px 0;

  .our_offer_wrapper {
    position: relative;
  }

  .offers_list {
    margin: -75px 0 30px;
    overflow: hidden;

    @media(max-width: $screen-md-max) {
      margin: -95px 0 30px;
    }
  }

  .slick-list {
    margin-right: -15px;
  }

  .offer_block {
    font-size: 14px;
    color: #000000;
    padding: 0 15px 0 40px;

    @media(max-width: 1300px) {
      padding: 0 15px 0 20px;
    }
  }

  .offer_icon {
    width: 40px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon {
      height: 40px;
      width: 40px;
      position: relative;
    }

    img {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }
  }

  .offer_title {
    width: calc(100% - 40px);
    padding: 0 20px 0 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media(max-width: 1300px) {
      padding: 0 15px 0 15px;
    }
  }

  .form_wrapper {
    align-items: center;

    .form_content {
      width: 33.33333333%;

      @media(max-width: $screen-md-max) {
        width: 30%;
        padding: 0 20px 0 0;
      }

      @media(max-width: $screen-sm-max) {
        width: 100%;
        padding: 0 0 20px;
      }

      .section_title {
        margin: 0;

        @media(max-width: $screen-md-max) {
          font-size: 24px;
        }
      }
    }

    .form {
      width: 66.66666667%;

      @media(max-width: $screen-md-max) {
        width: 70%;
      }

      @media(max-width: $screen-sm-max) {
        width: 100%;
      }
    }

    .form_row {
      width: calc(50% - 102px);
      padding-right: 30px;

      @media(max-width: $screen-md-max) {
        padding-right: 20px;
        width: calc(50% - 88px);
      }

      @media(max-width: 640px) {
        width: 100%;
        padding-right: 0;
      }

      +.form_row {
        @media(max-width: 640px) {
          margin: 20px 0 0;
        }
      }
    }

    .btn_wrapper {
      width: 204px;

      @media(max-width: $screen-md-max) {
        width: 176px;
      }

      @media(max-width: 640px) {
        width: 100%;
        margin: 20px 0 0;
      }

      .btn {
        min-width: auto;
        width: 100%;
        text-transform: none;
      }
    }
  }

  .personal_data {
    font-size: 12px;
    margin: 10px 0 0;

    a {
      color: #fff;
    }
  }

  .slick-arrow {
    font-size: 0;
    position: absolute;
    z-index: 2;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    top: 50%;
    margin-top: -12px;
  }

  .slick-prev,
  .btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 20 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.20711 1.20708L3.5 0.499975L3.0598e-07 4L3.5 7.5L4.20711 6.79289L1.91416 4.49995L20 4.49995L20 3.49995L1.91426 3.49995L4.20711 1.20708Z' fill='%2356CCF2'/%3E%3C/svg%3E");
    left: -10px;
  }

  .slick-next,
  .btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='8' viewBox='0 0 20 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7929 6.79292L16.5 7.50002L20 4L16.5 0.5L15.7929 1.20711L18.0858 3.50005L8.74227e-08 3.50005L0 4.50005L18.0857 4.50005L15.7929 6.79292Z' fill='%2356CCF2'/%3E%3C/svg%3E");
    right: -10px;
  }
}
