.question_form {
  background: #56CCF2;
  color: #fff;
  border-radius: 5px;
  padding: 0 30px;

  @media(max-width: $screen-sm-max) {
    padding: 20px 20px;
  }

  @media(max-width: $screen-xs-max) {
    margin: 0 -20px;
    border-radius: 0;
  }

  .question_form_inner {
    align-items: center;
  }

  .form_content {
    width: 33.33%;
    position: relative;
    z-index: 1;
    padding: 45px 0;

    @media(max-width: $screen-md-max) {
      width: 30%;
    }

    @media(max-width: $screen-sm-max) {
      width: 100%;
      padding: 0 0 20px;
    }

    .content {
      color: #C0E9F7;
      max-width: 195px;

      @media(max-width: $screen-sm-max) {
        max-width: 100%;
      }
    }
  }

  .image_decor {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 15px;

    @media(max-width: $screen-md-max) {
      display: none;
    }
  }

  .section_title {
    margin: 0;
    font-size: 30px;

    @media(max-width: $screen-md-max) {
      font-size: 24px;
    }
  }

  .form {
    width: 66.667%;

    @media(max-width: $screen-md-max) {
      width: 70%;
    }

    @media(max-width: $screen-sm-max) {
      width: 100%;
    }
  }

  .form_row {
    width: calc(50% - 88px);
    padding-right: 30px;

    @media(max-width: $screen-md-max) {
      padding-right: 20px;
    }

    @media(max-width: 640px) {
      width: 100%;
      padding-right: 0;
    }

    +.form_row {
      @media(max-width: 640px) {
        margin: 20px 0 0;
      }
    }
  }

  .btn_wrapper {
    width: 176px;

    @media(max-width: 640px) {
      width: 100%;
      margin: 20px 0 0;
    }

    .btn {
      width: 100%;
      text-transform: none;

      @media(max-width: 640px) {
        width: 100%;
      }
    }
  }

  .personal_data {
    margin: 20px 0 0;
    font-size: 14px;

    @media(max-width: 640px) {
      font-size: 12px;
    }

    a {
      color: #fff;
    }
  }
}
