.b_services_page {

  .category_title {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 30px;
    color: #163A46;

    @media(max-width: $screen-xs-max) {
      margin: 0 0 20px;
    }

    h2,
    h3 {
      font-size: 36px;
      font-weight: 400;
      color: #163A46;

      @media(max-width: $screen-md-max) {
        font-size: 32px;
      }

      @media(max-width: $screen-sm-max) {
        font-size: 28px;
      }

      @media(max-width: $screen-xs-max) {
        font-size: 18px;
      }
    }
  }

  .services_category {
    +.services_category {
      margin: 30px 0 0;

      @media(max-width: $screen-xs-max) {
        margin: 20px 0 0;
      }
    }
  }

  .categories_wrapper {
    .column_wrapper {
      margin: 0 -15px;

      @media(max-width: $screen-sm-max) {
        margin: 0;
        background: #F6F6F6;
        border-radius: 5px;
        padding: 20px;
      }
    }

    .column {
      width: 33.33%;
      padding: 0 15px;

      @media(max-width: $screen-sm-max) {
        width: 100%;
        padding: 0;
      }

      +.column {
        @media(max-width: $screen-sm-max) {
          margin: 10px 0 0;
        }
      }
    }
  }

  .categories_list {
    background: #F6F6F6;
    border-radius: 5px;
    padding: 30px;
    height: 100%;

    @media(max-width: $screen-md-max) {
      padding: 20px;
    }

    @media(max-width: $screen-sm-max) {
      border-radius: 0;
      background-color: transparent;
      padding: 0;
    }

    a {
      color: #163A46;
    }

    h3 {
      font-weight: 400;
      font-size: 18px;

      @media(max-width: $screen-md-max) {
        font-size: 16px;
      }
    }
  }
}
