.b_steps {
  @media(max-width: $screen-xs-max) {
    padding-bottom: 0;
  }

  .steps_list {
    margin: 0 -15px;

    @media(max-width: $screen-xs-max) {
      display: block;
      margin: 0 -20px;
    }
  }

  .section_title {
    @media(max-width: $screen-xs-max) {
      margin: 0;
    }
  }

  .steps_wrapper {
    margin: 0 0 40px;
    @media(max-width: $screen-xs-max) {
      margin: 0 0 20px;
    }

    .slick-track {
      display: flex;
      flex-wrap: wrap;

      .slick-slide {
        height: auto;
      }
    }
  }

  .step_item {
    padding-bottom: 30px;
    position: relative;

    @media(max-width: $screen-xs-max) {
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
    }

    &:not(:last-of-type) {
      .step_block {
        &::before {
          position: absolute;
          top: 54px;
          right: -10px;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7L1 7M17 7L11 13M17 7L11 1' stroke='%2391B0BB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          width: 18px;
          height: 14px;
        }
      }
    }
  }

  .step_block {
    height: 100%;
    position: relative;
  }

  .step_number {
    position: absolute;
    top: 15px;
    right: 30px;
    font-weight: 700;
    font-size: 72px;
    color: #ECF4F7;
    line-height: 1;

    @media(max-width: $screen-sm-max) {
      font-size: 36px;
      top: 35px;
    }

    @media(max-width: 450px) {
      top: 23px;
    }
  }

  .step_block_inner {
    position: relative;
    z-index: 1;
    min-height: 210px;
    padding: 30px;

    @media(max-width: $screen-md-max) {
      padding: 20px;
    }

    @media(max-width: $screen-xs-max) {
      min-height: 134px;
    }
  }

  .step_head {
    padding-right: 80px;
    align-items: center;
    margin: 0 0 30px;

    @media(max-width: $screen-xs-max) {
      margin: 0 0 20px;
    }
  }

  .step_icon {
    width: 60px;
    height: 60px;
    position: relative;

    @media(max-width: 450px) {
      width: 40px;
      height: 40px;
    }

    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
    }
  }

  .step_title {
    width: calc(100% - 60px);
    padding: 0 0 0 25px;
    font-weight: bold;
    font-size: 18px;

    @media(max-width: $screen-xs-max) {
      font-size: 14px;
    }

    @media(max-width: 450px) {
      width: calc(100% - 40px);
    }
  }

  .step_content {
    font-size: 18px;

    @media(max-width: 450px) {
      font-size: 14px;
    }

    a {
      font-weight: bold;
      color: #56CCF2;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
