.b_footer {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  .footer_wrapper {
    align-items: center;
  }

  .logo_wrapper {
    width: 232px;

    @media(max-width: 1300px) {
      width: 180px;
    }

    @media(max-width: $screen-md-max) {
      width: 150px;
    }

    @media(max-width: $screen-sm-max) {
      width: 100%;
      text-align: center;
      margin: 0 0 15px;
    }
  }

  .logo_link {
    display: inline-block;
    vertical-align: middle;

    @media(max-width: $screen-xs-max) {
      max-width: 200px;
    }
  }

  .logo_content {
    font-size: 12px;
    color: #163A46;
    background-color: #E7ECEF;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0 0;

    @media(max-width: $screen-sm-max) {
      max-width: 340px;
      margin: 5px auto 0;
    }

    @media(max-width: $screen-xs-max) {
      display: none;
    }
  }

  .footer_right_side {
    width: calc(100% - 232px);
    padding: 0 0 0 35px;

    @media(max-width: 1300px) {
      width: calc(100% - 180px);
      padding: 0 0 0 15px;
    }

    @media(max-width: $screen-md-max) {
      width: calc(100% - 150px);
    }

    @media(max-width: $screen-sm-max) {
      width: 100%;
      padding: 0;
    }
  }

  .footer_top {
    width: 100%;
    border-top: 1px solid #E7ECEE;

    @media(max-width: $screen-xs-max) {
      order: -1;
      border: none;
      display: block;
    }
  }

  .footer_menu {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @media(max-width: $screen-xs-max) {
      display: block;
    }
  }

  .menu {
    @media(max-width: $screen-md-max) {
      width: 100%;
    }

    @media(max-width: $screen-xs-max) {
      width: auto;
      margin: 0 -20px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        padding: 10px 0;

        @media(max-width: $screen-md-max) {
          padding: 5px 0;
        }

        @media(max-width: $screen-xs-max) {
          display: block;
          padding: 0;
          border-top: 1px solid #E7ECEE;
        }

        +li {
          margin: 0 0 0 30px;

          @media(max-width: 1400px) {
            margin: 0 0 0 23px;
          }

          @media(max-width: $screen-xs-max) {
            margin: 0;
          }
        }

        &:last-of-type {
          @media(max-width: $screen-xs-max) {
            border-bottom: 1px solid #E7ECEE;
          }
        }

        a {
          display: inline-block;
          vertical-align: middle;
          color: #163A46;

          @media(max-width: $screen-xs-max) {
            display: block;
            padding: 10px 25px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .times_wrapper {
    font-size: 12px;
    color: #91B0BB;

    @media(max-width: $screen-md-max) {
      display: inline-block;
      vertical-align: middle;
    }

    @media(max-width: $screen-xs-max) {
      display: none;
    }

    .time {
      position: relative;
      padding: 0 0 0 30px;

      @media(max-width: 1400px) {
        padding: 0 0 0 25px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin-top: -8px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.5888 0 0 3.5888 0 8C0 12.4112 3.5888 16 8 16C12.4112 16 16 12.4112 16 8C16 3.5888 12.4112 0 8 0ZM8 14.4C4.4712 14.4 1.6 11.5288 1.6 8C1.6 4.4712 4.4712 1.6 8 1.6C11.5288 1.6 14.4 4.4712 14.4 8C14.4 11.5288 11.5288 14.4 8 14.4Z' fill='%2391B0BB'/%3E%3Cpath d='M8.8 4H7.2V8.8H12V7.2H8.8V4Z' fill='%2391B0BB'/%3E%3C/svg%3E");
      }
    }
  }

  .footer_botom {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @media(max-width: $screen-md-max) {
      padding: 5px 0;
    }

    @media(max-width: $screen-xs-max) {
      padding: 10px 0;
    }
  }

  .contacts_wrapper {
    width: calc(100% - 205px);

    @media(max-width: 1300px) {
      width: calc(100% - 180px);
    }

    @media(max-width: $screen-md-max) {
      width: calc(100% - 120px);
    }

    @media(max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  .contacts_list {
    .contact_row {
      width: 25%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media(max-width: $screen-sm-max) {
        width: 50%;
      }

      @media(max-width: $screen-md-max) {
        padding: 5px 0;
      }

      @media(max-width: 500px) {
        width: 100%;
        padding: 10px 0;
      }
    }

    .contact_icon {
      width: 24px;
    }

    .contact_text {
      width: calc(100% - 24px);
      padding: 0 10px 0 20px;

      @media(max-width: 1400px) {
        padding: 0 10px 0 10px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 18px;

      @media(max-width: $screen-md-max) {
        font-size: 16px;
        line-height: 1.1;
      }

      a {
        color: #163A46;
        transition: all .2s linear;

        &:hover {
          color: #56CCF2;
        }
      }
    }

    .sub_title {
      line-height: 1.2;
    }
  }

  .btn_calculator {
    width: 205px;

    @media(max-width: 1300px) {
      width: 180px;
    }

    @media(max-width: $screen-md-max) {
      width: 120px;
    }

    @media(max-width: $screen-xs-max) {
      display: none;
    }

    .btn {
      width: 100%;
      min-width: auto;

      @media(max-width: $screen-md-max) {
        padding: 5px;
      }
    }
  }

  .social_wrapper {
    align-items: center;

    @media(max-width: $screen-md-max) {
      display: block;
      padding: 5px 0 0;
      text-align: left;
      width: 100%;
    }

    @media(max-width: $screen-sm-max) {
      width: 100%;
    }

    @media(max-width: $screen-xs-max) {
      width: auto;
      display: block;
      margin: 0 -20px;
      padding: 20px 0;
      background-color: #F6F6F6;
    }
  }

  .social_list_wrap {
    margin-left: 50px;

    @media(max-width: 1400px) {
      margin-left: 20px;
    }

    @media(max-width: $screen-md-max) {
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
    }

    @media(max-width: $screen-xs-max) {
      margin: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }

  .social_list {
    align-items: center;

    @media(max-width: $screen-md-max) {
      justify-content: flex-end;
    }

    @media(max-width: $screen-xs-max) {
      justify-content: center;
    }
  }

  .social_link {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    opacity: .6;
    transition: all .2s linear;

    &:hover {
      opacity: 1;
    }

    +.social_link {
      margin: 0 0 0 15px;
    }
  }

  .mobile_wrapper{
    display: none;

    @media(max-width: $screen-xs-max) {
      display: block;
      padding: 5px 0 10px;
    }

    .btn{
      width: 100%;
    }
  }
}
