.b_header {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 5;

  .header_wrapper {
    align-items: center;

    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

  .logo_wrapper {
    width: 232px;

    @media(max-width: 1300px) {
      width: 180px;
    }

    @media(max-width: $screen-md-max) {
      width: 150px;
    }
  }

  .logo_link {
    display: inline-block;
    vertical-align: middle;
  }

  .logo_content {
    font-size: 12px;
    color: #163A46;
    background-color: #E7ECEF;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0 0;
  }

  .header_right_side {
    width: calc(100% - 232px);
    padding: 0 0 0 35px;

    @media(max-width: 1300px) {
      width: calc(100% - 180px);
      padding: 0 0 0 15px;
    }

    @media(max-width: $screen-md-max) {
      width: calc(100% - 150px);
    }
  }

  .header_top {
    border-bottom: 1px solid #E7ECEE;
  }

  .header_menu {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .social_wrapper {
      align-items: center;

      @media(max-width: $screen-md-max) {
        display: block;
        padding: 5px 0;
        text-align: right;
      }

      @media(max-width: $screen-sm-max) {
        width: 100%;
      }
    }

    .social_list_wrap {
      margin-left: 50px;

      @media(max-width: 1400px) {
        margin-left: 20px;
      }

      @media(max-width: $screen-md-max) {
        margin: 5px 0 0;
      }
    }
  }

  .menu {
    @media(max-width: $screen-sm-max) {
      width: 100%;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        padding: 10px 0;

        @media(max-width: $screen-md-max) {
          padding: 5px 0;
        }

        +li {
          margin: 0 0 0 33px;

          @media(max-width: 1400px) {
            margin: 0 0 0 23px;
          }
        }

        a {
          display: inline-block;
          vertical-align: middle;
          color: #163A46;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .times_wrapper {
    font-size: 12px;
    color: #91B0BB;

    .time {
      position: relative;
      padding: 0 0 0 38px;

      @media(max-width: 1400px) {
        padding: 0 0 0 25px;
      }

      &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        margin-top: -8px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.5888 0 0 3.5888 0 8C0 12.4112 3.5888 16 8 16C12.4112 16 16 12.4112 16 8C16 3.5888 12.4112 0 8 0ZM8 14.4C4.4712 14.4 1.6 11.5288 1.6 8C1.6 4.4712 4.4712 1.6 8 1.6C11.5288 1.6 14.4 4.4712 14.4 8C14.4 11.5288 11.5288 14.4 8 14.4Z' fill='%2391B0BB'/%3E%3Cpath d='M8.8 4H7.2V8.8H12V7.2H8.8V4Z' fill='%2391B0BB'/%3E%3C/svg%3E");
      }
    }
  }



  .header_botom {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @media(max-width: $screen-md-max) {
      padding: 5px 0;
    }
  }

  .contacts_wrapper {
    width: calc(100% - 205px);

    @media(max-width: 1300px) {
      width: calc(100% - 180px);
    }

    @media(max-width: $screen-md-max) {
      width: calc(100% - 120px);
    }
  }

  .contacts_list {
    .contact_row {
      width: 25%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media(max-width: $screen-sm-max) {
        width: 50%;
      }

      @media(max-width: $screen-md-max) {
        padding: 5px 0;
      }
    }

    .contact_icon {
      width: 24px;
    }

    .contact_text {
      width: calc(100% - 24px);
      padding: 0 10px 0 20px;

      @media(max-width: 1400px) {
        padding: 0 10px 0 10px;
      }
    }

    .title {
      font-weight: 700;
      font-size: 18px;

      @media(max-width: $screen-md-max) {
        font-size: 16px;
        line-height: 1.1;
      }

      a {
        color: #163A46;
        transition: all .2s linear;

        &:hover {
          color: #56CCF2;
        }
      }
    }

    .sub_title {
      line-height: 1.2;
    }
  }

  .btn_calculator {
    width: 205px;

    @media(max-width: 1300px) {
      width: 180px;
    }

    @media(max-width: $screen-md-max) {
      width: 120px;
    }

    .btn {
      width: 100%;
      min-width: auto;

      @media(max-width: $screen-md-max) {
        padding: 5px;
      }
    }
  }

  .social_list {
    align-items: center;

    @media(max-width: $screen-md-max) {
      justify-content: flex-end;
    }
  }

  .social_link {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    opacity: .6;
    transition: all .2s linear;

    &:hover {
      opacity: 1;
    }

    +.social_link {
      margin: 0 0 0 15px;
    }
  }




  .header_mobile_wrapper {
    display: none;

    @media(max-width: $screen-sm-max) {
      display: block;
    }
  }

  .header_mobile{
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .btn_menu {
    width: 46px;
    height: 46px;
    border: none;
    background-color: #E3F0F4;
    border-radius: 5px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn_main_menu{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2V0H12V2H0Z' fill='%2391B0BB'/%3E%3Cpath d='M0 7H18V5H0V7Z' fill='%2391B0BB'/%3E%3Cpath d='M0 12H12V10H0V12Z' fill='%2391B0BB'/%3E%3C/svg%3E"); 
  }

  .btn_contacts_menu{
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0833 4.41667C11.6976 4.53652 12.3074 4.80744 12.75 5.25C13.1926 5.69256 13.4635 6.30237 13.5833 6.91667M11.5 1.5C12.7763 1.64178 13.9247 2.25922 14.8333 3.16667C15.7419 4.07411 16.3566 5.22391 16.5 6.5M16.4995 12.7306V14.9887C16.503 15.8519 15.7269 16.5727 14.8554 16.4941C7.33336 16.5 1.50003 10.6125 1.50592 3.14099C1.42743 2.27412 2.14468 1.50088 3.00679 1.50007H5.2694C5.63543 1.49648 5.99027 1.62584 6.26779 1.86403C7.05681 2.54124 7.5643 4.83981 7.36904 5.75357C7.21659 6.46697 6.49745 6.96608 6.00853 7.45403C7.08218 9.33849 8.64557 10.8988 10.5338 11.9703C11.0227 11.4824 11.5228 10.7646 12.2376 10.6125C13.1546 10.4173 15.4679 10.9255 16.1424 11.72C16.3816 12.0018 16.5087 12.3614 16.4995 12.7306Z' stroke='%2391B0BB' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}
