.mfp-bg {
  background: #163A46;
  opacity: 1;
}

.b_modal {
  max-width: 1200px;
  margin: 15px auto;
  padding: 20px 30px;
  position: relative;
  border-radius: 3px;
  background: #fff;
  color: #000;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 14px;

  @media(max-width: $screen-xs-max) {
    padding: 20px 20px;
  }

  &.sm_modal {
    max-width: 750px;
  }

  .mfp-close {
    width: 24px;
    height: 24px;
    transition: all .2s linear;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L7.4 6L12 10.6L10.6 12L6 7.4L1.4 12L0 10.6L4.6 6L0 1.4Z' fill='%2391B0BB'/%3E%3C/svg%3E");
    top: 20px;
    right: 20px;
    opacity: 1;
  }

  .modal_title {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin: 0 0 20px;
    padding-right: 30px;
  }

  .modal_description {
    font-size: 14px;
    margin: 0 0 25px;
  }

  .form {
    .rows_wrapper {
      margin: 0 0 15px;
    }

    .form_control {
      border: 1px solid #E7ECEE;
    }

    .form_row {
      width: calc(50% - 104px);
      padding-right: 30px;

      @media(max-width: 700px) {
        width: 100%;
        padding-right: 0;
      }

      +.form_row {
        @media(max-width: 700px) {
          margin: 20px 0 0;
        }
      }
    }

    .btn_wrapper {
      width: 208px;

      @media(max-width: 700px) {
        width: 100%;
        margin: 20px 0 0;
      }

      .btn {
        min-width: auto;
        width: 100%;
        text-transform: none;
      }
    }

    .personal_data {
      font-size: 14px;
      color: #91B0BB;
  
      @media(max-width: 700px) {
        font-size: 12px;
      }
  
      a {
        color: #56CCF2;
      }
    }
  }
}
