.question_form
  .question_form_inner.flex
    .form_content
      .section_title
        strong Остались вопросы?
      .content Мы свяжемся с Вами в ближайшее время

      .image_decor
        img(src="images/question_image.png", alt="")
    
    .form
      form
        .rows_wrapper.flex
          .form_row
            input.form_control(type="text" placeholder="Ваше имя")
          .form_row
            input.form_control(type="tel" placeholder="+7 (___) - ___ - __ - __")
          .btn_wrapper
            input.btn.btn_white(type="submit", value="Перезвоните мне")
      .personal_data
        .data_text Нажимая на кнопку, вы соглашаетесь на обработку <a href="#">персональных данных</a>