.b_modal.sm_modal.mfp-hide.zoom-anim-dialog#call_back
  .modal_inner
    .modal_title Мы вам перезвоним
    .modal_description
      p Оставьте ваши данные и мы свяжемся с вами. Мы не занимаемся рассылкой рекламных сообщений, а так же не передаем контактные данные третьим лицам
    
    .form_wrapper
      .form
        form
          .rows_wrapper.flex
            .form_row
              input.form_control(type="text" placeholder="Ваше имя")
            .form_row
              input.form_control(type="tel" placeholder="+7 (___) - ___ - __ - __")
            .btn_wrapper
              input.btn.btn_template(type="submit", value="Перезвоните мне")
        .personal_data
          .data_text Нажимая на кнопку, вы соглашаетесь на обработку <a href="#">персональных данных</a>

