.b_modal.sm_modal.mfp-hide.zoom-anim-dialog#write
  .modal_inner
    .modal_title Мы вам напишем
    .modal_description
      p Оставьте ваши данные и мы свяжемся с вами. Мы не занимаемся рассылкой рекламных сообщений, а так же не передаем контактные данные третьим лицам
    
    .form_wrapper
      .form
        form
          .rows_wrapper.flex
            .form_row
              .column_wrapper.flex.w50
                .column
                  input.form_control(type="text" placeholder="Ваше имя")
                .column
                  input.form_control(type="email" placeholder="Ваша почта")
            .form_row
              .column_wrapper.flex.w50
                .column
                  input.form_control(type="tel" placeholder="+7 (___) - ___ - __ - __")
                .column
                  input.form_control(type="text" placeholder="Ваше имя")
            .form_row
              textarea.form_control(name="" rows="2")
          
          .bottom_wrapper.flex
            .btn_wrapper
              input.btn.btn_template(type="submit", value="Напишите мне")
            .personal_data
              .data_text Нажимая на кнопку, вы соглашаетесь на обработку <a href="#">персональных данных</a>

