footer.b_footer
  .container

    .footer_wrapper.flex

      
      .logo_wrapper
        a.logo_link(href="main.html")
          img(src="images/main_logo.svg", alt="")
        .logo_content Профессиональный ремонт и монтаж кровель, фасадов

      .footer_right_side.flex

        .footer_botom.flex
          .contacts_wrapper
            .contacts_list.flex
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_location.svg", alt="")
                .contact_text
                  .title Санкт-Петербург
                  .sub_title Выберите регион
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_email.svg", alt="")
                .contact_text
                  .title
                    a(href="mailto:info@rst78.ru") info@rst78.ru
                  .sub_title Напишите нам
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_phone.svg", alt="")
                .contact_text
                  .title
                    a(href="tel:88129983820") 8 812 998 38 20
                  .sub_title Для партнеров
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_phone.svg", alt="")
                .contact_text
                  .title
                    a(href="tel:89118289190") 8 911 828 91 90
                  .sub_title Для клиентов

          .btn_calculator
            a.btn.btn_template(href="#") Калькулятор онлайн


        .footer_top.flex

          .footer_menu.flex
            .menu
              ul
                li
                  a(href="#") Карта сайта
                li
                  a(href="#") Наши лицензии
                li
                  a(href="#") Услуги
                li
                  a(href="#") Новости
                li
                  a(href="#") Онлайн
                li
                  a(href="#") Контакты
                li
                  a(href="#") Акции
                li
                  a(href="#") Документация

            .social_wrapper.flex
              .times_wrapper
                .time Время работы 9:00-19:00
              
              .social_list_wrap
                .social_list.flex
                  a.social_link(href="#")
                    img(src="images/icon_social_vk.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_facebook.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_insta.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_youtube.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_od.svg", alt="")


    .mobile_wrapper
      a.btn.btn_template(href="#") Перезвоните мне


