header.b_header

  .container
    .header_wrapper.flex

      .logo_wrapper
        a.logo_link(href="main.html")
          img(src="images/main_logo.svg", alt="")
        .logo_content Профессиональный ремонт и монтаж кровель, фасадов

      .header_right_side
        .header_top.flex

          .header_menu.flex
            .menu
              ul
                li
                  a(href="#") О компании
                li
                  a(href="#") Отзывы
                li
                  a(href="#") Вопрос&Ответ
                li
                  a(href="#") Услуги
                li
                  a(href="#") Лицензии
                li
                  a(href="#") Прайс лист
                li
                  a(href="#") Контакты

            .social_wrapper.flex
              .times_wrapper
                .time Время работы 9:00-19:00
              
              .social_list_wrap
                .social_list.flex
                  a.social_link(href="#")
                    img(src="images/icon_social_vk.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_facebook.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_insta.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_youtube.svg", alt="")
                  a.social_link(href="#")
                    img(src="images/icon_social_od.svg", alt="")


        .header_botom.flex
          .contacts_wrapper
            .contacts_list.flex
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_location.svg", alt="")
                .contact_text
                  .title Санкт-Петербург
                  .sub_title Выберите регион
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_email.svg", alt="")
                .contact_text
                  .title
                    a(href="mailto:info@rst78.ru") info@rst78.ru
                  .sub_title Напишите нам
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_phone.svg", alt="")
                .contact_text
                  .title
                    a(href="tel:88129983820") 8 812 998 38 20
                  .sub_title Для партнеров
              .contact_row
                .contact_icon
                  .icon
                    img(src="images/icon_map_phone.svg", alt="")
                .contact_text
                  .title
                    a(href="tel:89118289190") 8 911 828 91 90
                  .sub_title Для клиентов
                

          .btn_calculator
            a.btn.btn_template(href="#") Калькулятор онлайн



    .header_mobile_wrapper
      .header_mobile.flex

        .btn_menu_wrapper
          button.btn_menu.btn_main_menu.jsMenu(type="button")

        .logo_wrapper
          a.logo_link(href="main.html")
            img(src="images/main_logo.svg", alt="")
        
        .btn_menu_wrapper
          button.btn_menu.btn_contacts_menu.jsMenuContacts(type="button")




.b_mobile_menu#main_mobile_menu
  .container
    .mobile_menu_head
      .head_title Меню
      button.btn_close_menu.jsCloseMenu(tupe="button")

    .mobile_menu_body

      .icons_menu

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_01_hover.svg", alt="")
            .item_title Фасадные работы

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_02_hover.svg", alt="")
            .item_title Дизайн проект кровли и фасада

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_03_hover.svg", alt="")
            .item_title Кровельные работы

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_04_hover.svg", alt="")
            .item_title Генподрядные работы

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_05_hover.svg", alt="")
            .item_title Проектирование

        .item_row
          a.item_wrapper.flex(href="#")
            .item_icon
              img(src="images/icon_mega_menu_06_hover.svg", alt="")
            .item_title Инновационные решения

      .single_menu
        ul
          li
            a(href="#") О компании
          li
            a(href="#") Услуги
          li
            a(href="#") Отзывы
          li
            a(href="#") Вопрос&Ответ
          li
            a(href="#") Лицензии
          li
            a(href="#") Прайс лист
          li
            a(href="#") Контакты


.b_mobile_menu#categories_mobile_menu
  .container
    .mobile_menu_head
      .head_title Меню
      button.btn_close_menu.jsCloseMenu(tupe="button")

    .mobile_menu_body

      .icons_menu.jsAccord

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_01_hover.svg", alt="")
            .item_title Фасадные работы
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада
                li
                  a(href="#") Монтаж вентилируемого фасада
                li
                  a(href="#") Мокрый фасад
                li
                  a(href="#") Архитектурная подсветка фасадов
                li
                  a(href="#") Утепление фасада
                li
                  a(href="#") Монтаж композитных панелей
                li
                  a(href="#") Ремонт фасада
                li
                  a(href="#") Монтаж фиброцементного фасада
                li
                  a(href="#") Утепление и отделка фасада
                li
                  a(href="#") Металлические фасады для зданий
                li
                  a(href="#") Фрезеровка композита

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_02_hover.svg", alt="")
            .item_title Дизайн проект кровли и фасада
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_03_hover.svg", alt="")
            .item_title Кровельные работы
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_04_hover.svg", alt="")
            .item_title Генподрядные работы
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_05_hover.svg", alt="")
            .item_title Проектирование
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада

        .item_row.jsAccordItem
          .item_wrapper.flex.jsAccordBtn
            .item_icon
              img(src="images/icon_mega_menu_06_hover.svg", alt="")
            .item_title Инновационные решения
          .item_sub_menu.jsAccordContent
            .sub_menu
              ul
                li
                  a(href="#") Монтаж сайдинга
                li
                  a(href="#") Штукатурка фасада
                li
                  a(href="#") Облицовка фасада
