doctype html
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    title РемСтройТрест

    link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    style.
      body {
        padding: 30px 0;
      }
      .b_index {
        min-height: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 30px 0;
      }
      ol {
        padding-top: 50px;
        margin: 0;
        padding-left: 0;
        color: #dd1d24;
        list-style-position: inside;
      }
      li {
        margin-bottom: 7px;
      }
      a {
        font-size: 18px;
        color: #dd1d24;
        border-bottom: 1px dashed transparent;
        line-height: 1;
        transition: .2s;
      }
      a:hover {
        border-color: #dd1d24;
      }
    .b_index
      ol
        li
          a(href="main.html") Главная
        //- li
        //-   a(href="_____.html") Категория услуг по дизайну
        //- li
        //-   a(href="_____.html") Услуга дизайна
        //- li
        //-   a(href="_____.html") Страница услуг проектирования
        //- li
        //-   a(href="_____.html") Страница категорий услуг по проектированию
        //- li
        //-   a(href="_____.html") Страница услуг генподрядчика
        //- li
        //-   a(href="_____.html") Страница услуг кровельных работ
        //- li
        //-   a(href="_____.html") Страница подменю услуг кровельных работ с подразделом и прайсом
        //- li
        //-   a(href="_____.html") Страница категорий услуг кровельных работ с прайсом
        //- li
        //-   a(href="price_list.html") Прайс лист
        //- li
        //-   a(href="about_company.html") О компании
        //- li
        //-   a(href="testimonials.html") Отзывы
        //- li
        //-   a(href="contacts.html") Контакты
        //- li
        //-   a(href="faq.html") FAQ
        //- li
        //-   a(href="site_map.html") Карта сайта
        li
          a(href="licenses.html") Лицензии
        li
          a(href="our_services.html") Наши услуги