extends layouts/default

block content

  .b_mega_menu
    .container
      .mega_menu_section
        .mega_menu_block
          .mega_menu_wrapper.flex
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_01.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_01_hover.svg", alt="")
                .item_title Фасадные работы
              .mega_menu_inner
                .menu_inner.bg_image.cover(style="background-image: url('images/menu_bg.jpg');")
                  
                  .menu_inner_title Кровельные работы

                  .menu_columns.flex
                    .column
                      .category
                        a(href="#") Ремонт кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Ремонт плоской кровли
                          li
                            a(href="#") Ремонт кровли жидкой резиной
                          li
                            a(href="#") Ремонт мягкой кровли
                          li
                            a(href="#") Ремонт рулонной кровли
                          li
                            a(href="#") Ремонт наплавляемой кровли
                          li
                            a(href="#") Ремонт кровли из металлочерепицы
                    .column
                      .category
                        a(href="#") Монтаж кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Монтаж наплавляемой кровли
                          li
                            a(href="#") Монтаж плоской кровли
                          li
                            a(href="#") Монтаж мягкой кровли
                          li
                            a(href="#") Монтаж кровли из металлочерепицы
                          li
                            a(href="#") Монтаж кровли из черепицы
                          li
                            a(href="#") Монтаж мембранной кровли
                    .column
                      .category_menu
                        ul
                          li
                            a(href="#") Монтаж водосточной системы
                          li
                            a(href="#") Демонтаж крыши
                          li
                            a(href="#") Устранение протечки кровли
                          li
                            a(href="#") Уборка снега с крыш
                          li
                            a(href="#") Утепление крыши
                          li
                            a(href="#") Монтаж снегозадержателей
                          li
                            a(href="#") Замена кровли

            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_02.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_02_hover.svg", alt="")
                .item_title Дизайн проект кровли и фасада
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 2
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_03.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_03_hover.svg", alt="")
                .item_title Кровельные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 3
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_04.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_04_hover.svg", alt="")
                .item_title Генподрядные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 4
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_05.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_05_hover.svg", alt="")
                .item_title Проектирование
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 5
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_06.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_06_hover.svg", alt="")
                .item_title Инновационные решения
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 6
                  .menu_columns

      .mobile_mega_menu
        .mega_menu_button.jsOpenMenuCatecory
          .item_wrapper.flex
            .item_icon
              img(src="images/icon_mega_menu_01_hover.svg", alt="")
            .item_title Фасадные работы



  .b_licenses_page.section50
    .container

      .b_breadcrumbs
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Лицензии
      

      .section_title
        h1 Лицензии
      
      .single_content
        p Потому что мы - это компетенция. С нами, вы гарантированно получаете грамотную разработка дизайн проекта. В оговоренные сроки мы минимизируем ваши затраты на обслуживание и ремонт объекта. Проконтролируем и устраним любой изъян и поломку, а главное проконсультируем, как максимально продлить службу конструкции. Наша особенность – использование только современных, технологически проверенных компонентов. Эффективное управление нашими опытными мастерами и специалистами всеми рабочими процессами, плюс хорошая карма компании ООО «РемСтройТрест», изящно реализует любой ваш проект.

      .certificates_list
        .list_wrapper.flex.jsCertificatesSliderMobile
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")
          .certificate_item
            a.certificate(href="images/certificate.png" data-fancybox="certificates")
              img(src="images/certificate.png", alt="")


  .b_m_certificates.section50
    .container
      .section_title.m0
        h2.title <strong>Наши</strong> партнеры

      .partners_wrapper
        .partners_list.flex.row
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="") 


  .b_question_form_page.section50
    .container
      .question_form_wrapper
        include parts/question_form