extends layouts/default

block content

  .b_mega_menu.menu_absolute
    .container
      .mega_menu_section
        .mega_menu_block
          .mega_menu_wrapper.flex
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_01.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_01_hover.svg", alt="")
                .item_title Фасадные работы
              .mega_menu_inner
                .menu_inner.bg_image.cover(style="background-image: url('images/menu_bg.jpg');")
                  
                  .menu_inner_title Кровельные работы

                  .menu_columns.flex
                    .column
                      .category
                        a(href="#") Ремонт кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Ремонт плоской кровли
                          li
                            a(href="#") Ремонт кровли жидкой резиной
                          li
                            a(href="#") Ремонт мягкой кровли
                          li
                            a(href="#") Ремонт рулонной кровли
                          li
                            a(href="#") Ремонт наплавляемой кровли
                          li
                            a(href="#") Ремонт кровли из металлочерепицы
                    .column
                      .category
                        a(href="#") Монтаж кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Монтаж наплавляемой кровли
                          li
                            a(href="#") Монтаж плоской кровли
                          li
                            a(href="#") Монтаж мягкой кровли
                          li
                            a(href="#") Монтаж кровли из металлочерепицы
                          li
                            a(href="#") Монтаж кровли из черепицы
                          li
                            a(href="#") Монтаж мембранной кровли
                    .column
                      .category_menu
                        ul
                          li
                            a(href="#") Монтаж водосточной системы
                          li
                            a(href="#") Демонтаж крыши
                          li
                            a(href="#") Устранение протечки кровли
                          li
                            a(href="#") Уборка снега с крыш
                          li
                            a(href="#") Утепление крыши
                          li
                            a(href="#") Монтаж снегозадержателей
                          li
                            a(href="#") Замена кровли

            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_02.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_02_hover.svg", alt="")
                .item_title Дизайн проект кровли и фасада
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 2
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_03.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_03_hover.svg", alt="")
                .item_title Кровельные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 3
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_04.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_04_hover.svg", alt="")
                .item_title Генподрядные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 4
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_05.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_05_hover.svg", alt="")
                .item_title Проектирование
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 5
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_06.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_06_hover.svg", alt="")
                .item_title Инновационные решения
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 6
                  .menu_columns

      .mobile_mega_menu
        .mega_menu_button.jsOpenMenuCatecory
          .item_wrapper.flex
            .item_icon
              img(src="images/icon_mega_menu_01_hover.svg", alt="")
            .item_title Фасадные работы


  .b_main_banner
    .banners_wrapper

      .banners_slider.jsBannersSlider(data-speed="3000")
      
        .banner_item.bg_image.cover(style="background-image: url('images/main_banner_image.jpg');")
          .container
            .banner_content_wrapper
              
              .lines_wrapper
                span
                span
                span
                span
                span

              .banner_content
                .banner_title
                  h1 Фасадные работы
                .content
                  p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области.
                .banner_button
                  a.btn.btn_template.jsOpenModals(href="#call_back") Получить расчет

        .banner_item.bg_image.cover(style="background-image: url('images/main_banner_image.jpg');")
          .container
            .banner_content_wrapper
              
              .lines_wrapper
                span
                span
                span
                span
                span

              .banner_content
                .banner_title
                  h1 Проектирование
                .content
                  p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области.
                .banner_button
                  a.btn.btn_template.jsOpenModals(href="#call_back") Получить расчет

        .banner_item.bg_image.cover(style="background-image: url('images/main_banner_image.jpg');")
          .container
            .banner_content_wrapper
              
              .lines_wrapper
                span
                span
                span
                span
                span

              .banner_content
                .banner_title
                  h1 Кровельные работы
                .content
                  p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области.
                .banner_button
                  a.btn.btn_template.jsOpenModals(href="#call_back") Получить расчет


  .b_m_our_works.section
    .container

      .tabs_wrapper.jsTabs
        
        .tabs_head_wrapper.flex

          .section_title
            h2.title <strong>Мы уже</strong> делали
          
          .tabs_list_wrapper
            
            .button_list
              .button_list_inner
                .tab_title
                  .title Фасадные работы
                  .projects_number 42 проекта
            
            .tabs_list
              .tabs_list_inner.flex
                .tab_item.jsTabsTab.-active
                  .tab_title
                    .title Фасадные работы
                    .projects_number 42 проекта
                .tab_item.jsTabsTab
                  .tab_title
                    .title Проектирование
                    .projects_number 84 проекта
                .tab_item.jsTabsTab
                  .tab_title
                    .title Кровельные работы
                    .projects_number 14 проекта
                .tab_item.jsTabsTab
                  .tab_title
                    .title Высотные работы
                    .projects_number 2 проекта
                .tab_item.jsTabsTab
                  .tab_title
                    .title Отделка помещений
                    .projects_number 34 проекта


        .tabs_content
          .tabs_content_inner
            
            .tab_content.jsTabsItem.-active.-fade
              
              .our_works_slider.slider_section.jsSliderSection
                .our_works_wrapper.jsOurWorksSlider
                  .slide_item
                    .our_works.flex
                      .slider_images
                        .images_galery.flex
                          .huge_image_wrap
                            a.huge_image(href="images/about_image.jpg" data-fancybox="project1")
                              .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                          .list_images
                            .list_images_inner
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project1")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project1")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project1")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                        
                      .slider_content
                        .project_title Устройство вентилируемого фасада НПС “Ховринская”
                        .content
                          p В этом отношении стоит рассмотреть такой вариант облицовки как фиброцементные плиты. Если их купить, они отлично подходят для вентилируемого фасада. 
                          p Фиброцементные плиты на 80-90% состоят из цемента. А 10% - это минеральные наполнители, а также целлюлоза, которая выступает как армирующее волокно. Уже это показывает, что такая облицовка здания является экологически безопасной, потому что полностью состоит из натуральных материалов. Этими панелями можно покрыть производственный цех, общественное здание, бизнес-центр или даже частный дом.
                  .slide_item
                    .our_works.flex
                      .slider_images
                        .images_galery.flex
                          .huge_image_wrap
                            a.huge_image(href="images/project_image.jpg" data-fancybox="project2")
                              .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                          .list_images
                            .list_images_inner
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                        
                      .slider_content
                        .project_title Устройство вентилируемого фасада НПС “Ховринская”
                        .content
                          p В этом отношении стоит рассмотреть такой вариант облицовки как фиброцементные плиты. Если их купить, они отлично подходят для вентилируемого фасада. 
                          p Фиброцементные плиты на 80-90% состоят из цемента. А 10% - это минеральные наполнители, а также целлюлоза, которая выступает как армирующее волокно. Уже это показывает, что такая облицовка здания является экологически безопасной, потому что полностью состоит из натуральных материалов. Этими панелями можно покрыть производственный цех, общественное здание, бизнес-центр или даже частный дом.
                
                .slider_controls
                  .slider_control
                    .slide_count_wrapper.flex
                      button.slick-arrow.btn_prev(type="button")
                      .count_label Проекты
                      .slide_count <span class="current">1</span>/<span class="all_slide jsSliderCounter"></span>
                      button.slick-arrow.btn_next(type="button")



            .tab_content.jsTabsItem
              .our_works_slider.slider_section.jsSliderSection
                .our_works_wrapper.jsOurWorksSlider
                  .slide_item
                    .our_works.flex
                      .slider_images
                        .images_galery.flex
                          .huge_image_wrap
                            a.huge_image(href="images/about_image.jpg" data-fancybox="project2")
                              .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                          .list_images
                            .list_images_inner
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                              .image_row
                                a.small_image(href="images/about_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/about_image.jpg');")
                        
                      .slider_content
                        .project_title Устройство вентилируемого фасада НПС “Ховринская”
                        .content
                          p В этом отношении стоит рассмотреть такой вариант облицовки как фиброцементные плиты. Если их купить, они отлично подходят для вентилируемого фасада. 
                          p Фиброцементные плиты на 80-90% состоят из цемента. А 10% - это минеральные наполнители, а также целлюлоза, которая выступает как армирующее волокно. Уже это показывает, что такая облицовка здания является экологически безопасной, потому что полностью состоит из натуральных материалов. Этими панелями можно покрыть производственный цех, общественное здание, бизнес-центр или даже частный дом.
                  .slide_item
                    .our_works.flex
                      .slider_images
                        .images_galery.flex
                          .huge_image_wrap
                            a.huge_image(href="images/project_image.jpg" data-fancybox="project2")
                              .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                          .list_images
                            .list_images_inner
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                              .image_row
                                a.small_image(href="images/project_image.jpg" data-fancybox="project2")
                                  .bg_image.cover(style="background-image: url('images/project_image.jpg');")
                        
                      .slider_content
                        .project_title Устройство вентилируемого фасада НПС “Ховринская”
                        .content
                          p В этом отношении стоит рассмотреть такой вариант облицовки как фиброцементные плиты. Если их купить, они отлично подходят для вентилируемого фасада. 
                          p Фиброцементные плиты на 80-90% состоят из цемента. А 10% - это минеральные наполнители, а также целлюлоза, которая выступает как армирующее волокно. Уже это показывает, что такая облицовка здания является экологически безопасной, потому что полностью состоит из натуральных материалов. Этими панелями можно покрыть производственный цех, общественное здание, бизнес-центр или даже частный дом.
                
                .slider_controls
                  .slider_control
                    .slide_count_wrapper.flex
                      button.slick-arrow.btn_prev(type="button")
                      .count_label Проекты
                      .slide_count <span class="current">1</span>/<span class="all_slide jsSliderCounter"></span>
                      button.slick-arrow.btn_next(type="button")


            .tab_content.jsTabsItem
              .our_works_wrapper
                .our_works_slider
                  .slider_wrapper
                  .slider_content



            .tab_content.jsTabsItem
              .our_works_wrapper
                .our_works_slider
                  .slider_wrapper
                  .slider_content



            .tab_content.jsTabsItem
              .our_works_wrapper
                .our_works_slider
                  .slider_wrapper
                  .slider_content



  .b_m_about.section
    .container
      .section_title
        h2.title <strong>О компании</strong>

      .about_wrapper
        .about_wrapper_inner.row.flex

          .content_wrapper.col-xs-12.col-lg-4
            .content
              p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области.
              p Основными ценностями компания выдвигает - надежность и качество. В кратчайшие сроки мы успешно реализуем с нулевой точки как установку кровель и фасадов, так и их ремонт любой сложности. 
              p Помимо этого, предоставляем комплексные услуги по обслуживанию кровельно-фасадных конструкций в зимний период. 
              p Обеспечиваем индивидуальный подход к каждому клиенту и гарантируем полный контроль деятельности на всех этапах работы. Так же предлагаем "Ведение авторского надзора".
            
            .custom_links_menu
              ul
                li
                  a(href="#") О компании
                li
                  a(href="#") Контакты

          .media_wrapper.col-xs-12.col-lg-8
            .our_advantages.white_block.flex
              .advantages_list
                .advantage_row
                  .number_wrap
                    span.number 28
                  .text коллекций материалов
                .advantage_row
                  .number_wrap
                    span.number 30
                    span лет
                  .text срок службы продукции
                .advantage_row
                  .number_wrap
                    span.number 20
                    span лет
                  .text опыт компании
              .image_wrapper
                .image.bg_image.cover(style="background-image: url('images/about_image.jpg');")

  

  .b_offer
    .container

      .our_offer_wrapper.jsOfferWrapper
        .offers_list.white_block.jsOfferSlider
          .offer_slide
            .offer_block.flex
              .offer_icon
                .icon
                  img(src="images/icon_offer_01.svg", alt="")
              .offer_title
                .title Бесплатный выезд замерщика
          .offer_slide
            .offer_block.flex
              .offer_icon
                .icon
                  img(src="images/icon_offer_02.svg", alt="")
              .offer_title
                .title Любые формы оплаты
          .offer_slide
            .offer_block.flex
              .offer_icon
                .icon
                  img(src="images/icon_offer_03.svg", alt="")
              .offer_title
                .title Проектирование в подарок
          .offer_slide
            .offer_block.flex
              .offer_icon
                .icon
                  img(src="images/icon_offer_04.svg", alt="")
              .offer_title
                .title Официальный договор
          .offer_slide
            .offer_block.flex
              .offer_icon
                .icon
                  img(src="images/icon_offer_05.svg", alt="")
              .offer_title
                .title Бесплатный расчет материалов
        button.slick-arrow.btn_prev(type="button")
        button.slick-arrow.btn_next(type="button")

      .form_question
        .form_wrapper.flex
          .form_content
            .section_title
              strong Остались вопросы?
            .content Мы свяжемся с Вами в ближайшее время
          
          .form
            form
              .rows_wrapper.flex
                .form_row
                  input.form_control(type="text" placeholder="Ваше имя")
                .form_row
                  input.form_control(type="tel" placeholder="+7 (___) - ___ - __ - __")
                .btn_wrapper
                  input.btn.btn_white(type="submit", value="Перезвоните мне")
            .personal_data
              .data_text Нажимая на кнопку, вы соглашаетесь на обработку <a href="#">персональных данных</a>



  .b_m_certificates.section50.bg_gray
    .container
      .section_title
        h2.title <strong>Наши</strong> сертификаты и партнеры

      .certificates_wrapper
        .certificates_inner.row.flex

          .certificates_content.col-xs-12.col-md-4
            .content
              p Потому что мы - это компетенция. С нами, вы гарантированно получаете грамотную разработка дизайн проекта. В оговоренные сроки мы минимизируем ваши затраты на обслуживание и ремонт объекта.
              p Проконтролируем и устраним любой изъян и поломку, а главное проконсультируем, как максимально продлить службу конструкции. Наша особенность – использование только современных, технологически проверенных компонентов.
              p Эффективное управление нашими опытными мастерами и специалистами всеми рабочими процессами, плюс хорошая карма компании ООО «РемСтройТрест», изящно реализует любой ваш проект.
            

          .certificates_list.col-xs-12.col-md-8
            .list_wrapper.jsCertificatesSlider
              .certificate_item
                a.certificate(href="images/certificate.png" data-fancybox="certificates")
                  img(src="images/certificate.png", alt="")
              .certificate_item
                a.certificate(href="images/certificate.png" data-fancybox="certificates")
                  img(src="images/certificate.png", alt="")
              .certificate_item
                a.certificate(href="images/certificate.png" data-fancybox="certificates")
                  img(src="images/certificate.png", alt="")
              .certificate_item
                a.certificate(href="images/certificate.png" data-fancybox="certificates")
                  img(src="images/certificate.png", alt="")

      .partners_wrapper
        .partners_list.flex.row
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")
          .partner_item.col-xs-6.col-sm-4.col-md-2
            img(src="images/icon_partners_01.svg", alt="")




  .b_steps.section50
    .container
      .section_title
        h2.title <strong>Описание</strong> этапов работы

      .steps_wrapper
        .steps_list.flex.jsSteps
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 01
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_01.svg", alt="")
                  .step_title Заявка
                .step_content
                  p Вы оставляете заявку на сайте или по телефону <a href="tel:88129983820">8 812 9983 820</a>
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 02
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_02.svg", alt="")
                  .step_title Консультация
                .step_content
                  p Наш инженер перезванивает вам и дает <strong>бесплатную</strong> консультацию.
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 03
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_03.svg", alt="")
                  .step_title Бесплатный замер
                .step_content
                  p К Вам на объект приезжает наш  мастер для <strong>составления сметы</strong>.
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 04
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_04.svg", alt="")
                  .step_title Договор
                .step_content
                  p Заключаем договор <strong>с фиксированной стоимостью</strong> работ и материалов.
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 05
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_05.svg", alt="")
                  .step_title Монтаж
                .step_content
                  p Доставляем необходимый материал и выполняем монтаж
          
          .step_item.col-xs-12.col-sm-6.col-md-4
            .step_block.white_block
              .step_number 06
              .step_block_inner
                .step_head.flex
                  .step_icon
                    img(src="images/icon_step_06.svg", alt="")
                  .step_title Сдача объекта
                .step_content
                  p Сдаем вам готовый объект с <strong>гарантией на работы до 3 лет</strong>.

      .question_form_wrapper
        include parts/question_form

  .b_map
    .map_wrapper
      .map#map
      .contact_wrapper
        .container
          .contacts_block
            .contacts.white_block
              h3 Контактная информация

              .contacts_list
                .list_row
                  .row_icon
                    .icon
                      img(src="images/icon_map_phone.svg", alt="")
                  .row_content
                    .title
                      a(href="tel:88129983820") 8 812 998 38 20
                    .sub_title Для партнеров
                .list_row
                  .row_icon
                    .icon
                      img(src="images/icon_map_phone.svg", alt="")
                  .row_content
                    .title
                      a(href="tel:89118289190") 8 911 828 91 90
                    .sub_title Для клиентов
                .list_row
                  .row_icon
                    .icon
                      img(src="images/icon_map_location.svg", alt="")
                  .row_content
                    .title Санкт-Петербург, Приморский пр., дом 35, лит.А
                .list_row
                  .row_icon
                    .icon
                      img(src="images/icon_map_email.svg", alt="")
                  .row_content
                    .title
                      a(href="mailto:info@rst78.ru") info@rst78.ru
                    .sub_title Напишите нам

              .btn_wrapper
                a.btn.btn_template(href="#") Перезвоните мне



  .b_faq.section
    .container
      .section_title
        h2.title <strong>Вопрос&ответ</strong>
      
      .faq_wrapper
        .faq_list.jsAccord

          .faq_row.jsAccordItem
            .faq_title.jsAccordBtn Какая стоимость?

            .faq_content.jsAccordContent
              .content
               p Стоимость зависит от вашего объема, формата банки и этикетики. <a href="#">Напишите нам</a>, и мы предоставим вам лучшую цену. Мы являемся производителем, поэтому гарантируем самые низкие цены. Вы можете оформить заказ с доставкой по Москве и регионам через наш официальный сайт либо в одном из наших фирменных магазинов, адреса и контакты находятся здесь. Дождь, снег, ветер и накапливающаяся влага оказывают негативное влияние на цоколь здания и сокращают срок службы фасада/

          .faq_row.jsAccordItem
            .faq_title.jsAccordBtn Можно ли заменить одно стекло в стеклопакете?

            .faq_content.jsAccordContent
              .content
               p Стоимость зависит от вашего объема, формата банки и этикетики. <a href="#">Напишите нам</a>, и мы предоставим вам лучшую цену. Мы являемся производителем, поэтому гарантируем самые низкие цены. Вы можете оформить заказ с доставкой по Москве и регионам через наш официальный сайт либо в одном из наших фирменных магазинов, адреса и контакты находятся здесь. Дождь, снег, ветер и накапливающаяся влага оказывают негативное влияние на цоколь здания и сокращают срок службы фасада/

          .faq_row.jsAccordItem
            .faq_title.jsAccordBtn Возможна ли замена однокамерного стеклопакета на двухкамерный?

            .faq_content.jsAccordContent
              .content
               p Стоимость зависит от вашего объема, формата банки и этикетики. <a href="#">Напишите нам</a>, и мы предоставим вам лучшую цену. Мы являемся производителем, поэтому гарантируем самые низкие цены. Вы можете оформить заказ с доставкой по Москве и регионам через наш официальный сайт либо в одном из наших фирменных магазинов, адреса и контакты находятся здесь. Дождь, снег, ветер и накапливающаяся влага оказывают негативное влияние на цоколь здания и сокращают срок службы фасада/

          .faq_row.jsAccordItem
            .faq_title.jsAccordBtn Насколько хорошо стеклопакет удерживает тепло в помещении?

            .faq_content.jsAccordContent
              .content
               p Стоимость зависит от вашего объема, формата банки и этикетики. <a href="#">Напишите нам</a>, и мы предоставим вам лучшую цену. Мы являемся производителем, поэтому гарантируем самые низкие цены. Вы можете оформить заказ с доставкой по Москве и регионам через наш официальный сайт либо в одном из наших фирменных магазинов, адреса и контакты находятся здесь. Дождь, снег, ветер и накапливающаяся влага оказывают негативное влияние на цоколь здания и сокращают срок службы фасада/



  .b_single_content.section
    .container
      .section_title
        .title <strong>Почему мы</strong>
      
      .content_wrapper
        .contant
          p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области. Основными ценностями компания выдвигает - надежность и качество. В кратчайшие сроки мы успешно реализуем с нулевой точки как установку кровель и фасадов, так и их ремонт любой сложности. Помимо этого, предоставляем комплексные услуги по обслуживанию кровельно-фасадных конструкций в зимний период. Обеспечиваем индивидуальный подход к каждому клиенту и гарантируем полный контроль деятельности на всех этапах работы. Так же предлагаем "Ведение авторского надзора"
          h3 Приемущества нашего сервиса
          p Более 10 лет на рынке недвижимости строительная компания ООО «РемСтройТрест», занимается устройством кровель и фасадов в Санкт-Петербурге и Ленинградской области. Основными ценностями компания выдвигает - надежность и качество. В кратчайшие сроки мы успешно реализуем с нулевой точки как установку кровель и фасадов, так и их ремонт любой сложности. 
          p Помимо этого, предоставляем комплексные услуги по обслуживанию кровельно-фасадных конструкций в зимний период. Обеспечиваем индивидуальный подход к каждому клиенту и гарантируем полный контроль деятельности на всех этапах работы. Так же предлагаем "Ведение авторского надзора".Эффективное управление нашими опытными мастерами и специалистами всеми рабочими процессами, плюс хорошая карма компании ООО «РемСтройТрест», изящно реализует любой ваш проект.
          p Миссия нашей компании – сделать продукцию «Альта-Профиль» ближе и доступнее для каждого Покупателя. Мы взяли курс на открытие фирменных магазинов в каждом крупном городе на юго-востоке московской области. Уже много лет наши магазины работают в городах Жуковский и Раменское, 1 января 2016 года открылся новый фирменный магазин в Бронницах с. Заворово Раменского района, пгт Малино. С 1 марта 2016 года мы открыли фирменный магазин в г. Коломне, Щуровская 51 (синий платочек) и г. Озёры. С октября 2016 г. работает фирменный магазин в г. Воскресенск, Заводская 9б (напротив ТК "Воскресеночка"). В 2017 году открыт склад в Егорьевске. В апреле 2018 начал работать магазин-склад в Гжели. При каждом магазине есть огромный магазин-склад.
          p Партнёрами нашей компании являются известные строительные организации, компании, занимающиеся ландшафтом и дизайном, а также частные монтажные бригады московской, рязанской, владимирской областей. В своей работе мы стремимся удовлетворять потребности  всех наших партнеров, поддерживая постоянный и прочный контакт. Гибкая ценовая политика и индивидуальный подход к каждому Покупателю позволяет сделать работу с нами не только выгодной, но и приятной. Опытные консультанты вежливо и качественно помогут Вам подобрать необходимый товар, просчитать нужное количество материала на объект, предложат необходимые дополнительные товары и услуги.
          p Миссия нашей компании – сделать продукцию «Альта-Профиль» ближе и доступнее для каждого Покупателя. Мы взяли курс на открытие фирменных магазинов в каждом крупном городе на юго-востоке московской области. Уже много лет наши магазины работают в городах Жуковский и Раменское, 1 января 2016 года открылся новый фирменный магазин в Бронницах с. Заворово Раменского района, пгт Малино. С 1 марта 2016 года мы открыли фирменный магазин в г. Коломне, Щуровская 51 (синий платочек) и г. Озёры. С октября 2016 г. работает фирменный магазин в г. Воскресенск, Заводская 9б (напротив ТК "Воскресеночка"). В 2017 году открыт склад в Егорьевске. В апреле 2018 начал работать магазин-склад в Гжели. При каждом магазине есть огромный магазин-склад.
          img(src="", alt="")
          p Партнёрами нашей компании являются известные строительные организации, компании, занимающиеся ландшафтом и дизайном, а также частные монтажные бригады московской, рязанской, владимирской областей. В своей работе мы стремимся удовлетворять потребности  всех наших партнеров, поддерживая постоянный и прочный контакт.
          p Гибкая ценовая политика и индивидуальный подход к каждому Покупателю позволяет сделать работу с нами не только выгодной, но и приятной. Опытные консультанты вежливо и качественно помогут Вам подобрать необходимый товар, просчитать нужное количество материала на объект, предложат необходимые дополнительные товары и услуги.
          p Уже много лет наши магазины работают в городах Жуковский и Раменское, 1 января 2016 года открылся новый фирменный магазин в Бронницах с. Заворово Раменского района, пгт Малино. С 1 марта 2016 года мы открыли фирменный магазин в г. Коломне, Щуровская 51 (синий платочек) и г. Озёры. С октября 2016 г. работает фирменный магазин в г. Воскресенск, Заводская 9б (напротив ТК "Воскресеночка"). В 2017 году открыт склад в Егорьевске. 
          p Миссия нашей компании – сделать продукцию «Альта-Профиль» ближе и доступнее для каждого Покупателя. Мы взяли курс на открытие фирменных магазинов в каждом крупном городе на юго-востоке московской области. Уже много лет наши магазины работают в городах Жуковский и Раменское, 1 января 2016 года открылся новый фирменный магазин в Бронницах с. Заворово Раменского района, пгт Малино. С 1 марта 2016 года мы открыли фирменный магазин в г. Коломне, Щуровская 51 (синий платочек) и г. Озёры. С октября 2016 г. работает фирменный магазин в г. Воскресенск, Заводская 9б (напротив ТК "Воскресеночка"). В 2017 году открыт склад в Егорьевске. В апреле 2018 начал работать магазин-склад в Гжели. При каждом магазине есть огромный магазин-склад.
        
        .btn_more
          a(href="#") Читать далее


