extends layouts/default

block content

  .b_mega_menu
    .container
      .mega_menu_section
        .mega_menu_block
          .mega_menu_wrapper.flex
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_01.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_01_hover.svg", alt="")
                .item_title Фасадные работы
              .mega_menu_inner
                .menu_inner.bg_image.cover(style="background-image: url('images/menu_bg.jpg');")
                  
                  .menu_inner_title Кровельные работы

                  .menu_columns.flex
                    .column
                      .category
                        a(href="#") Ремонт кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Ремонт плоской кровли
                          li
                            a(href="#") Ремонт кровли жидкой резиной
                          li
                            a(href="#") Ремонт мягкой кровли
                          li
                            a(href="#") Ремонт рулонной кровли
                          li
                            a(href="#") Ремонт наплавляемой кровли
                          li
                            a(href="#") Ремонт кровли из металлочерепицы
                    .column
                      .category
                        a(href="#") Монтаж кровли
                      .sub_menu
                        ul
                          li
                            a(href="#") Монтаж наплавляемой кровли
                          li
                            a(href="#") Монтаж плоской кровли
                          li
                            a(href="#") Монтаж мягкой кровли
                          li
                            a(href="#") Монтаж кровли из металлочерепицы
                          li
                            a(href="#") Монтаж кровли из черепицы
                          li
                            a(href="#") Монтаж мембранной кровли
                    .column
                      .category_menu
                        ul
                          li
                            a(href="#") Монтаж водосточной системы
                          li
                            a(href="#") Демонтаж крыши
                          li
                            a(href="#") Устранение протечки кровли
                          li
                            a(href="#") Уборка снега с крыш
                          li
                            a(href="#") Утепление крыши
                          li
                            a(href="#") Монтаж снегозадержателей
                          li
                            a(href="#") Замена кровли

            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_02.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_02_hover.svg", alt="")
                .item_title Дизайн проект кровли и фасада
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 2
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_03.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_03_hover.svg", alt="")
                .item_title Кровельные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 3
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_04.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_04_hover.svg", alt="")
                .item_title Генподрядные работы
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 4
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_05.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_05_hover.svg", alt="")
                .item_title Проектирование
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 5
                  .menu_columns
            
            .mega_menu_item
              .item_wrapper.flex
                .item_icon
                  .icon_static
                    img(src="images/icon_mega_menu_06.svg", alt="")
                  .icon_hover
                    img(src="images/icon_mega_menu_06_hover.svg", alt="")
                .item_title Инновационные решения
              .mega_menu_inner
                .menu_inner
                  .menu_inner_title Кровельные работы 6
                  .menu_columns

      .mobile_mega_menu
        .mega_menu_button.jsOpenMenuCatecory
          .item_wrapper.flex
            .item_icon
              img(src="images/icon_mega_menu_01_hover.svg", alt="")
            .item_title Фасадные работы



  .b_services_page.section50
    .container

      .b_breadcrumbs
        .breadcrumbs_wrapper
          ul
            li
              a(href="#") Главная
            li Наши услуги
      

      .section_title
        h1 Наши услуги

      .services_wrapper
        .services_inner

          .services_category
            .category_title
              h2 Фасадные работы
            
            .categories_wrapper
              .column_wrapper.flex
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Облицовка фасада
                      li
                        a(href="#")
                          h3 Монтаж сайдинга
                      li
                        a(href="#")
                          h3 Мокрый фасад
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Штукатурка фасада
                      li
                        a(href="#")
                          h3 Монтаж планкена
                      li
                        a(href="#")
                          h3 Ремонт фасада
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Утепление фасада
                      li
                        a(href="#")
                          h3 Монтаж вентилируемого фасада

          .services_category
            .category_title
              h2 Дизайн проект кровли и фасада
            
            .categories_wrapper
              .column_wrapper.flex
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Дизайн кровли
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Дизайн фасадов


          .services_category
            .category_title
              h2 Кровельные работы
            
            .categories_wrapper
              .column_wrapper.flex
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Ремонт кровли
                      li
                        a(href="#")
                          h3 Монтаж кровли
                      li
                        a(href="#")
                          h3 Монтаж водосточной системы
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Демонтаж крыши
                      li
                        a(href="#")
                          h3 ДУстранение протечки кровли
                      li
                        a(href="#")
                          h3 ДУборка снега с крыш
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Утепление крыши
                      li
                        a(href="#")
                          h3 Монтаж снегозадержателей									
                      li
                        a(href="#")
                          h3 Замена кровли

          .services_category
            .category_title
              h2 Генподрядные работы

          .services_category
            .category_title
              h2 Проектирование
            
            .categories_wrapper
              .column_wrapper.flex
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Проектирование кровли
                .column
                  .categories_list.list_decor
                    ul
                      li
                        a(href="#")
                          h3 Проектирование фасадов

          .services_category
            .category_title
              h2 Инновационные решения
                  



  .b_question_form_page.section50
    .container
      .question_form_wrapper
        include parts/question_form